- if @post.cover_photo.url.present?
  .absolute.blur.-inset-3.bg-cover{ style: "background-image: url(#{@post.cover_photo.url})" }
  .absolute.-inset-3.bg-cover{ style: "background-image: url(#{@post.cover_photo.url})", 'data-parallax-header-target' => 'headerImage' }