- if @post.cover_photo.url.present?
  .absolute.blur.-inset-3.bg-cover{ style: "background-image: url(#{@post.cover_photo.url})"}
  .absolute.-inset-3.bg-cover.hover:opacity-0{ style: "background-image: url(#{@post.cover_photo.url})"}