- unless @post.cover_photo.url.nil?
  %img.bg#crisp{ src: "#{@post.cover_photo.url}", alt: 'cover image' }
  %img.bg#blurry{ src: "#{@post.cover_photo.url}", style: "filter: url('#blur_svg')", alt: 'cover image blurred' }