.py-10
  .text-base.font-serif
    If you enjoyed this post subscribe below for occasional updates and goodies.

  %form.py-3{ action: "//20dots.us9.list-manage.com/subscribe/post?u=5394cf010851b2ac203d588b7&amp;id=ada47d64b3", method: "post", name: "mc-embedded-subscribe-form", target: "_blank", onsubmit: "ga('send', 'event', 'button', 'click', 'subscribe', 1);", novalidate: '' }

    %input.float-left.focus:outline-none.border-solid.border-4.border-gray-100.focus:border-blue-300{ class: 'py-1.5 px-4 mr-4', type: 'email', value: '', name: 'EMAIL', id: 'mce-EMAIL', placeholder: 'email address', size: '32', required: '' }

    %div{ style: 'position: absolute; left: -5000px;' }
      %input.left{ type: 'text', name: 'b_5394cf010851b2ac203d588b7_ada47d64b3', tabindex: '-1', value: '' }

    %input.bg-white.button-blue.focus:outline-none{ type: 'submit', value: 'Subscribe', name: 'subscribe' }