#mc_embed_signup
  If you enjoyed this post subscribe below for occasional updates and goodies.
  
  %form.validate{ :action => "//20dots.us9.list-manage.com/subscribe/post?u=5394cf010851b2ac203d588b7&amp;id=ada47d64b3", :method => "post", :id => "mc-embedded-subscribe-form", :name => "mc-embedded-subscribe-form", :class => " pure-form", :target => "_blank", :onsubmit => "ga('send', 'event', 'button', 'click', 'subscribe', 1);", :novalidate => ""}
  
  %input.email.left{ :type => "email", :value => "", :name => "EMAIL", :id => "mce-EMAIL", :placeholder => "email address", :size => "32", :required => ""}
    
  %div{:style => "position: absolute; left: -5000px;"}
    %input.left{ :type => "text", :name => "b_5394cf010851b2ac203d588b7_ada47d64b3", :tabindex => "-1", :value => ""}
  .clear
    %input.sidebar_button.white{ :type => "submit", :value => "Subscribe", :name => "subscribe", :id => "mc-embedded-subscribe"}