#all_posts
  %ul.flip
    - @posts.each do |post|
      = render "dynamic_css", :post => post
      %li
        = link_to post, class: "post_container cover_photo", id: post.cover_photo do
          .post_title
            .date
              = post.created_at.strftime("%B %d, %Y")
            = post.title