#all_posts
  %ul.flip
    - @posts.each do |post|
      = render "dynamic_css", :post => post
      %li
        - p = "p" + post.id.to_s
        = link_to post, class: "post_container cover_photo", id: p do
          .post_title
            .date
              = post.created_at.strftime("%B %d, %Y")
            = post.title