#sidebar
  = link_to '', feed_path, id: 'rss_icon', onclick: "ga('send', 'event', 'button', 'click', 'rss', 1);"
  #pic_hello
    = image_tag('face_circle.jpg', id: 'face_circle')

    #about Hi, I'm Justin.


  #about_para
    I type here. Check out my <a href="http://tvtoday.20dots.com/" class="link">latest app</a>. I'm a full stack <a href="http://rubyonrails.org/" class="link">RoR</a> web developer with a bit of <a href="https://www.apple.com/swift/" class="link">Swift</a> experience. Sometimes I <a href="https://soundcloud.com/arsvita" class="link">make/mix music</a>.

  .button_container

    = link_to ("<i class='fa fa-book'></i> all posts").html_safe, posts_path, class: 'sidebar_button'

  .button_container
    %a.sidebar_button{ id: 'contact_button', href: '', onclick: "ga('send', 'event', 'button', 'click', 'contact', 1);" }
      %i.fa.fa-envelope
      contact
