#sidebar
  = link_to "", feed_path, id: "rss_icon"
  = image_tag("face_circle.jpg", id: "face_circle")
  
  #about Hi, I'm Justin.

  #about_para
    I occasionally post my thoughts here. Sometimes I <a href="https://soundcloud.com/arsvita" class="link">make music</a>. I'm a full stack RoR web developer. Check out my <a href="https://fbmusicgate.com/lp/?r=20dots" class="link">latest project</a>.

  .button_container
    -# = link_to "about", about_path, class: "sidebar_button"

  .button_container
    %a.sidebar_button{:id => "contact_button", :href => ""} contact

  .button_container
    = link_to "all posts", posts_path, class: "sidebar_button"
